<!DOCTYPE html>
<html lang="en" ng-app="thirdLesson">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body ng-controller="appController">
    <div class="container">
        <div class="app-wrapper">
            <div class="app-title">Todo list</div>
            <div class="app-content">
                <div class="content-wrapper">
                    <div class="content-adder">
                        <form ng-submit="addTask()">
                            <input ng-model="taskName" type="text" placeholder="What needs to be done?"></div>
                    </form>
                    <div class="content-list">
                        <div class="list-wrapper">
                            <ul>
                                <li ng-repeat="todo in todos" class="list-item" ng-class="{'done': todo.done}">
                                    <div ng-click="toggleTodo(todo)" class="list-item-state __to-success inside">✔</div>
                                    <div class="list-item-text inside">{{todo.name}}</div>
                                    <div class="list-item-state __to-delete inside">×</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content-footer">
                        <div class="footer-wrapper">
                            <div class="footer-item __count-left">
                                <span>1: Items left</span>
                            </div>
                            <div class="footer-item __filters">
                                <div class="filter-item"><a class="__active" href="#">All</a></div>
                                <div class="filter-item"><a href="#">Completed</a></div>
                                <div class="filter-item"><a href="#">Active</a></div>
                            </div>
                            <div class="footer-item __actions">
                                <div class="action-item"><a href="#">Clear completed</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js">
    </script>
    <script src="app.js">
    </script>
</body>

</html>